.login {
    height: 100vh;
    background: url('../img/bg.jpg') no-repeat 50% 50% /cover;
}

.login__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content__part {
    position: relative;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.login__form {
    background-color: $white;
    padding: 65px 50px;
    border-radius: 5px;
}

.form__title {
    font-size: 35px;
}

.form__subtitle {
    margin: 30px 0;
    font-size: 16px;
    color: $darkgrey;
}

.form__link {
    text-decoration: none;
    color: $blue;
}

.input__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.input__label {
    color: $grey;
    font-size: 16px;
}

.button__group {
    float: right;
}

.form__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $input-border;
    padding: 5px;
    &:focus {
        border: none;
        border-bottom: 3px solid $blue;
        outline: none;
    }
}

.form__btn {
    display: block;
    margin-left: auto;
    margin-top: 35px;
    border: none;
    background-color: $yellow;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
}
